<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="autobot.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>Autobot</h1>
            <p>Buying a car?</p>
            <a class="btn btn-primary btn-lg" href="#">Get Started!</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                Engage your bot in assisting you with sales calls. Get quickly to the point of closing the sale!
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>Who We Are</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>What We Do</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>How To Get Started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Autobot 2016</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

